PRXL/pipeline/CopyPipeline_Blob_SQL.json
{
	"name": "CopyPipeline_Blob_SQL",
	"properties": {
		"activities": [
			{
				"name": "Copy_0uk",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "blobcntnrinvoices//EmployeeInfo.csv"
					},
					{
						"name": "Destination",
						"value": "[dbo].[UserInfo]"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSetting",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSetting",
							"skipLineCount": 0
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table UserInfo"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"redirectIncompatibleRowSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "blobcntnrinvoices/error_files"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Email",
									"type": "String"
								},
								"sink": {
									"name": "Email",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "MobileNo",
									"type": "String"
								},
								"sink": {
									"name": "MobileNo",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String"
								},
								"sink": {
									"name": "FirstName",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String"
								},
								"sink": {
									"name": "LastName",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_0uk",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_0uk",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy_0uk",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceDataset_0uk",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSetting",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSetting"
					}
				}
			},
			{
				"name": "Stored Procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UPS_Insert_Log_ADF_AzureBlob]",
					"storedProcedureParameters": {
						"BlobName": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ProcessStatus": {
							"value": {
								"value": "@'Success'",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SqlServerStoredProcedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UPS_Insert_Log_ADF_AzureBlob]",
					"storedProcedureParameters": {
						"BlobName": {
							"value": {
								"value": "@activity('Get Metadata1').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ProcessStatus": {
							"value": {
								"value": "@'Failed'",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}