adfipaug/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adfipaug"
		},
		"LS_azsqlpreprod_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_azsqlpreprod'"
		},
		"LS_storageaccipaug_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_storageaccipaug'"
		},
		"SqlServerOnprem_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServerOnprem'"
		},
		"SelfHostedIntegrationRuntime_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/bd08fa83-e892-4ad3-9f1c-2940e77392c6/resourcegroups/RG-USEAST-DEMO-PRXL/providers/Microsoft.DataFactory/factories/adf2prxl/integrationruntimes/SelfHostedIntegrationRuntime1"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://keyvalutipaug.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyBlobToTable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyBlobToTable",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Email",
											"type": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MobileNo",
											"type": "String"
										},
										"sink": {
											"name": "MobileNo",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_EmployeeBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_EmployeeTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CopyBlobToTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Insert_Users_Blobs_Log]",
							"storedProcedureParameters": {
								"BlobName": {
									"value": {
										"value": "@pipeline().parameters.Pram_BlobName",
										"type": "Expression"
									},
									"type": "String"
								},
								"FileSize": {
									"value": {
										"value": "@pipeline().parameters.Pram_BlobSize",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ProcessedDate": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ProcessStatus": {
									"value": {
										"value": "'Success'",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowsRead": {
									"value": {
										"value": "@activity('CopyBlobToTable').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowsWriten": {
									"value": {
										"value": "@activity('CopyBlobToTable').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_azsqlpreprod",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"Pram_BlobName": {
						"type": "string"
					},
					"Pram_BlobSize": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_EmployeeBlob')]",
				"[concat(variables('factoryId'), '/datasets/DS_EmployeeTable')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_azsqlpreprod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataActivityAudit')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_EmployeeBlob",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"size",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "IfCondition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GetMetadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(activity('GetMetadata1').output.exists,greater(activity('GetMetadata1').output.size,0))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "CopyDataActivityAudit",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "CopyBlobToTable",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Pram_BlobName": {
												"value": "@activity('GetMetadata1').output.itemName",
												"type": "Expression"
											},
											"Pram_BlobSize": {
												"value": "@activity('GetMetadata1').output.size",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_EmployeeBlob')]",
				"[concat(variables('factoryId'), '/pipelines/CopyBlobToTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyIfBlobExists')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetMetadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_EmployeeBlob",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"exists",
								"size",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "IfCondition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(and(activity('GetMetadata1').output.exists,greater(activity('GetMetadata1').output.size,0)),greater(activity('GetMetadata1').output.lastModified,activity('Lookup1').output.firstRow.InsertedDateTime))",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "CopyBlobToTable",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "SqlServerStoredProcedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute Pipeline1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Insert_AFG_Users_Blob_Log]",
										"storedProcedureParameters": {
											"BlobName": {
												"value": {
													"value": "@activity('GetMetadata1').output.itemName",
													"type": "Expression"
												},
												"type": "String"
											},
											"BlobSize": {
												"value": {
													"value": "@activity('GetMetadata1').output.size",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"InsertedDateTime": {
												"value": {
													"value": "@utcnow()",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"InsertedUserID": {
												"value": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_azsqlpreprod",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GetMetadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_LPD_AFG_Users_Blob_Log]"
							},
							"dataset": {
								"referenceName": "DS_EmployeeTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_EmployeeBlob')]",
				"[concat(variables('factoryId'), '/datasets/DS_EmployeeTable')]",
				"[concat(variables('factoryId'), '/pipelines/CopyBlobToTable')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_azsqlpreprod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyOnpremToBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select * from tblCopyBlobList"
							},
							"dataset": {
								"referenceName": "DS_tblCopyBlobList",
								"type": "DatasetReference",
								"parameters": {
									"DS_Pram_DBName": {
										"value": "@pipeline().parameters.PL_Pram_DBName",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy Data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat('select top 10 * from ',item().TableName)",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_tblCopyBlobList",
											"type": "DatasetReference",
											"parameters": {
												"DS_Pram_DBName": {
													"value": "@pipeline().parameters.PL_Pram_DBName",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_CMSDBBlobs",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@{item().TableName}.csv",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"PL_Pram_DBName": {
						"type": "string",
						"defaultValue": "CMS"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_tblCopyBlobList')]",
				"[concat(variables('factoryId'), '/datasets/DS_CMSDBBlobs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataflow_CMS_Inv_Agg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_CMS_Invoices_Agg",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_CMS_Invoices_Agg",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Invoice": {},
									"BranchLocation": {},
									"ChargeCode": {},
									"sink1": {}
								}
							},
							"staging": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_CMS_Invoices_Agg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CMSDBBlobs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_storageaccipaug",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "PRXLDB",
						"container": "employeedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "MobileNo",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_storageaccipaug')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_EmployeeBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_storageaccipaug",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "EmployeeInfo.csv",
						"container": "employeedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "MobileNo",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_storageaccipaug')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_EmployeeTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_azsqlpreprod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Email",
						"type": "varchar"
					},
					{
						"name": "MobileNo",
						"type": "varchar"
					},
					{
						"name": "FirstName",
						"type": "varchar"
					},
					{
						"name": "LastName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Users]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_azsqlpreprod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Tbl_CMS_Invoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_azsqlpreprod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Tbl_CMS_Invoices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_azsqlpreprod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blb_BranchLocation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_storageaccipaug",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "BranchLocation.csv",
						"folderPath": "CMSDB",
						"container": "employeedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "BranchKey",
						"type": "String"
					},
					{
						"name": "BranchLocation",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_storageaccipaug')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blb_ChargeCode')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_storageaccipaug",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ChargeCode.csv",
						"folderPath": "CMSDB",
						"container": "employeedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ChargeKey",
						"type": "String"
					},
					{
						"name": "ChargeCode",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_storageaccipaug')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_blb_Invoices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_storageaccipaug",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Invoices.csv",
						"folderPath": "CMSDB",
						"container": "employeedata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "BranchKey",
						"type": "String"
					},
					{
						"name": "ChargeKey",
						"type": "String"
					},
					{
						"name": "DateKey",
						"type": "String"
					},
					{
						"name": "InvoiceNo",
						"type": "String"
					},
					{
						"name": "InvoiceAmt",
						"type": "String"
					},
					{
						"name": "DaysToBill",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_storageaccipaug')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_tblCopyBlobList')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerOnprem",
					"type": "LinkedServiceReference",
					"parameters": {
						"LS_Pram_DBName": {
							"value": "@dataset().DS_Pram_DBName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"DS_Pram_DBName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TableName",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblCopyBlobList"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerOnprem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_azsqlpreprod')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_azsqlpreprod_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "preprod",
						"secretVersion": "96346e89c25d4f9991826680a484f1e2"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_storageaccipaug')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_storageaccipaug_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerOnprem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"LS_Pram_DBName": {
						"type": "String",
						"defaultValue": "CMS"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServerOnprem_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SelfHostedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('SelfHostedIntegrationRuntime_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_CMS_Invoices_Agg')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_blb_Invoices",
								"type": "DatasetReference"
							},
							"name": "Invoice",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "DS_blb_BranchLocation",
								"type": "DatasetReference"
							},
							"name": "BranchLocation",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "DS_blb_ChargeCode",
								"type": "DatasetReference"
							},
							"name": "ChargeCode",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Tbl_CMS_Invoices",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "Join1"
						},
						{
							"name": "Join2"
						},
						{
							"name": "Window1"
						},
						{
							"name": "Select1"
						}
					],
					"script": "\n\nsource(output(\n\t\tBranchKey as string,\n\t\tChargeKey as string,\n\t\tDateKey as string,\n\t\tInvoiceNo as string,\n\t\tInvoiceAmt as string,\n\t\tDaysToBill as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> Invoice\nsource(output(\n\t\tBranchKey as string,\n\t\tBranchLocation as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> BranchLocation\nsource(output(\n\t\tChargeKey as string,\n\t\tChargeCode as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> ChargeCode\nInvoice, BranchLocation join(Invoice@BranchKey == BranchLocation@BranchKey,\n\tjoinType:'left',\n\tbroadcast: 'none')~> Join1\nJoin1, ChargeCode join(Invoice@ChargeKey == ChargeCode@ChargeKey,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> Join2\nJoin2 window(over(BranchLocation),\n\tTotalInvoiceAmt = sum(toInteger(InvoiceAmt))) ~> Window1\nWindow1 select(mapColumn(\n\t\tBranchKey = Invoice@BranchKey,\n\t\tChargeKey = Invoice@ChargeKey,\n\t\tDateKey,\n\t\tInvoiceNo,\n\t\tInvoiceAmt,\n\t\tDaysToBill,\n\t\tBranchLocation,\n\t\tChargeCode,\n\t\tTotalInvoiceAmt\n\t)) ~> Select1\nSelect1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_blb_Invoices')]",
				"[concat(variables('factoryId'), '/datasets/DS_blb_BranchLocation')]",
				"[concat(variables('factoryId'), '/datasets/DS_blb_ChargeCode')]",
				"[concat(variables('factoryId'), '/datasets/DS_Tbl_CMS_Invoices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		}
	]
}