ADFAUG2019/pipeline/CopyDataActivityAudit.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_EmployeeBlob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "IfCondition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetMetadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(activity('GetMetadata1').output.exists,greater(activity('GetMetadata1').output.size,0))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CopyDataActivityAudit",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "CopyBlobToTable",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}