PBIP/pipeline/5 - ForEach Activity.json
{
	"name": "5 - ForEach Activity",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "HourlyInvoiceFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSetting",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSetting"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSetting",
										"recursive": true,
										"wildcardFileName": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSetting"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "truncate table [InvoiceNumber]"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "InvoiceNumber",
												"type": "String"
											},
											"sink": {
												"name": "InvoiceNumber",
												"type": "Double"
											}
										},
										{
											"source": {
												"name": "VendorName",
												"type": "String"
											},
											"sink": {
												"name": "VendorName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "PostingDate",
												"type": "String"
											},
											"sink": {
												"name": "InvoiceDate",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "@'123'",
												"type": "String"
											},
											"sink": {
												"name": "InvoiceAmount",
												"type": "Double"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "HourlyInvoiceFiles",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "TblInvoices",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}