PBIP/pipeline/IncrementalLoad.json
{
	"name": "IncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[USP_LastLoad_Watermark]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": {
									"value": "@'Invoices'",
									"type": "Expression"
								}
							}
						}
					},
					"dataset": {
						"referenceName": "TblInvoices",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GetMetadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSetting",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSetting"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetMetadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('GetMetadata1').output.lastModified,activity('Lookup1').output.firstRow.LastLoad)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "blobcntrinvoices//PWC_Invoices_Sample.tsv"
					},
					{
						"name": "Destination",
						"value": "[dbo].[Invoices]"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSetting",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSetting",
							"skipLineCount": 0
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [dbo].[Invoices]"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"redirectIncompatibleRowSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "blobcntrinvoices/error_files"
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"name": "InvoiceNumber",
									"type": "Double"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"name": "VendorName",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"name": "InvoiceDate",
									"type": "String"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"name": "InvoiceAmount",
									"type": "Double"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_nje",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_nje",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}