PBIP/pipeline/WebActivity.json
{
	"name": "WebActivity",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.postalpincode.in/pincode/500011",
					"method": "GET"
				}
			},
			{
				"name": "Set Variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@json(activity('Web1').output.Response)[0]",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"output": {
				"type": "String"
			}
		},
		"annotations": []
	}
}